

<!DOCTYPE html>
<html lang="en">

  <head>





  </head>

<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

      <!-- Main -->
        <div id="main">
          <div class="inner">

            <!-- Header -->
            <header id="header">
              <div class="logo">
                <a >Inventario Online</a>
              </div>
            </header>

            
            <section class="top-image">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12">
                    <div class="down-content">
                    	<div class="container">
    						<div class="row">
                  <p style="color: white">
                    <% @productos.each do |p| %>
                  <nombre><%= p.nombre %></nombre>
                  <cod><%= p.codigo %></cod>
                  <precio><%= p.precio %></precio>
                  <% end %>
                    
                  </p>
                 

                  
                 
                  <p id="demo"></p>
                  


      						  <!-- Elementos generados a partir del JSON -->
     						   <main id="items" class="col-sm-8 row"></main>
    						    <!-- Carrito -->
    						    <aside class="col-sm-4">
    						        <h2>Carrito</h2>
    						        <!-- Elementos del carrito -->
    						        <ul id="carrito" class="list-group" onkeyup="cart()"></ul>
    						        

    						        <!-- Precio total -->
                            <p class="text-right">Total: <span id="total"></span>$</p>
                            <%= form_tag cart_metodocart_path, method: :get do %>
                                <%= hidden_field_tag "codigo" %>
                                <button id="boton-vaciar" class="btn btn-danger" >Vaciar</button>
                                <%= submit_tag "Venta", class: 'primary-button', id: 'boton-venta' %>
                            <% end %>
                            </p>
    						</aside>
   						 </div>
						</div>
                      
                  </div>
                </div>
              </div>
            </section>


          </div>
        </div>

      <!-- Sidebar -->
        <div id="sidebar">
          <div class="inner">             
            <!-- Menu -->
            <nav id="menu">
              <ul>
                <li><a href="home">Inicio</a></li>
                <li><a href="add">add</a></li>
                <li><a href="verify">verify</a></li>
                <li><a href="cart">venta</a></li>
                <li><a <%= link_to "cerrar sesion", destroy_user_session_path, method: :delete %></a></li>
              </ul>
            </nav>
          </div>
        </div>
    </div>


</body>


  </body>

</html>
