
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

    <title>Ramayana - Free Bootstrap 4 CSS Template</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!--
Ramayana CSS Template
https://templatemo.com/tm-529-ramayana
-->

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="assets/css/fontawesome.css">
    <link rel="stylesheet" href="assets/css/templatemo-style.css">
    <link rel="stylesheet" href="assets/css/owl.css">

  </head>

<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

<<<<<<< Updated upstream
    <div class="clearfix">

      <!--<button type="button" class="cancelbtn" >cancelar</button>-->
      <!--button class="cancelbtn" onclick="window.location.href='/';">Cancelar</button-->
      <button type="submit" class="signupbtn" onclick="PopUp()">A単adir</button>
=======
      <!-- Main -->
        <div id="main">
          <div class="inner">

            <!-- Header -->
            <header id="header">
              <div class="logo">
                <a >Inventario Online</a>
              </div>
            </header>


              <section class="top-image">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12">
                    <div class="down-content">
                      <form>
                              <div class="container">
                                <h1>A単adir a inventario</h1>
                                <p>LLena los campos para a単adir al inventario.</p>
                                <hr>
                            
                                <label for="name"><b>Nombre</b></label>
                                <input type="text" placeholder="Ingresa el nombre del producto" name="name" required <%= text_field_tag 'name', @nombre %>
                            
                                <label for="stock"><b>Stock</b></label>
                                <input type="text" placeholder="Ingresa el Stock del producto" name="stock" required <%= text_field_tag 'stock', @stock %>
                            
                                <label for="code"><b>Codigo</b></label>
                                <input type="text" placeholder="Ingresa el Codigo del producto" name="code" required <%= text_field_tag 'code', @codigo %>
                            
                                <label for="price"><b>Precio</b></label>
                                <input type="text" placeholder="Ingresa el Precio del producto" name="price" required <%= text_field_tag 'price', @precio %>
                            
                                <label for="type"><b>Tipo De Producto</b></label>
                                <input type="text" placeholder="Ingresa el Tipo de producto" name="type" required <%= text_field_tag 'type', @tipo %>
                            
                            
                            
                            
                                <!--<p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>-->
                            
                                <div class="action" >
                            
                                  <!--<button type="button" class="cancelbtn" >cancelar</button>-->
                                  <!--button class="cancelbtn" onclick="window.location.href='/';">Cancelar</button-->
                                  <button type="submit" class="primary-button" onclick="PopUp()" >A単adir</button>
                                  <button type="reset" class="primary-button" >reset</button>
                                </div>
                              </div>
                            </form>
                    </div>
                  </div>
                </div>
              </div>
            </section>


          </div>
        </div>

      <!-- Sidebar -->
        <div id="sidebar">
          <div class="inner">             
            <!-- Menu -->
            <nav id="menu">
              <ul>
                <li><a href="home">Inicio</a></li>
                <li><a href="add">add</a></li>
                <li><a href="verify">verify</a></li>
                <li><a href="verify">cerrar sesion</a></li>
              </ul>
            </nav>
          </div>
        </div>
>>>>>>> Stashed changes
    </div>

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/transition.js"></script>
    <script src="assets/js/owl-carousel.js"></script>
    <script src="assets/js/custom.js"></script>
</body>


  </body>

</html>